.reg_form_block {
    padding: 10%;
}

.reg_form {
    box-shadow: 0 0 5px 2px rgba(16, 16, 16, 0.5);
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background: rgb(45,45,45);
    color:rgb(52, 179, 241);
}

.reg_form div {
    margin-top: 20px;
    font-size: xx-large;
    text-align: center;
}

.reg_form div input {
    display: block;
    border: 0;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
    background-color: rgb(70, 67, 70);
    color:rgb(52, 179, 241);
    outline: none;
}

.reg_form div a {
    text-decoration: none;
    border-radius: 10px;
    font-size: x-large;
    color: rgba(52, 179, 241, 0.7);
}

.reg_form div a:hover {
    color: rgb(52, 179, 241);
}

.form_button {
    cursor: pointer;
    font-size: x-large;
    background: rgb(70, 67, 70);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: rgb(52, 179, 241);
}

.form_button:hover {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0 0 5px 2px rgba(26, 26, 26, 0.5);
}

.form_button:active {
    transform: translateY(3px);
}
