.search_input_block {
   padding-bottom: 2%;
}

.search_input_block input {
    color: rgb(52, 179, 241);
    font-size: x-large;
    background: rgb(70, 67, 70);
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 1px;
    padding: 5px;
}