.input_block {
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

.input_block input {
    font-size: x-large;
    background: rgb(70, 67, 70);
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 1px;
    padding: 5px;
}