$def-color: rgb(52, 179, 241);
$def-unactive-color: rgba(52, 179, 241, 0.7);
$def-box-shadow: 0 0 5px 2px rgba(26, 26, 26, 0.7);
$def-font-size: x-large;
$def-title-font-size: xx-large;
$def-border-radius: 10px;
$def-block-background: rgb(45,45,45);
$def-input-background:rgb(70, 67, 70);
$def-block-block-background: rgb(33, 33, 33);