.dialog::-webkit-scrollbar {
    visibility: hidden;
}

.dialog {
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 90%;
    overflow-y: auto;
    height: 100%;
}

.dialog:first-child {
    margin-top: auto !important;
}