@import "./consts.scss";

.message-block {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.message-to {
    width: 100%;
    padding: 1%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-from {
    width: 100%;
    padding: 1%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-text {
    padding: 1%;
    width: fit-content;
    font-size: $def-font-size;
    background: $def-input-background;
    border-radius: $def-border-radius;
    color: $def-color;
}

.message-text span {
    color: $def-color;
    word-wrap:break-word;
}